.sidebar {
	background-color: $colour-primary;
	grid-column: sidebar-start / sidebar-end;
	grid-row: 1 / -1;

	
	&__menu {
		width: 100%;
		position: relative;
		height: 100%;
		background-image: linear-gradient(
		rgba($colour-primary, .95) 20%,
		rgba($colour-primary-dark, .95) 40%); 
		transition: all .65s cubic-bezier(.74,.21,0,1.64);
	}
	&__checkbox {
		display: none;
	}
	&__button {
		height: 7rem;
		width: 7rem;
		position: fixed;
		top: 2rem;
		left: .5rem;
		z-index: 2000;
		text-align: center;
		cursor: pointer;
	}
	
	&__nav {
		position: fixed;
		top:15rem;
		left:1rem;
		z-index: 2500;
		text-align: center;
		opacity: 0;
	}
	&__list {
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: start;

	}
	&__item {
		font-size: 1.8rem;
		font-weight: 300;
		width: 28rem;
		padding: 1.5rem;
		transition: all .2s;
		border-radius: 2px;
		// border-left: 2px solid #fff;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
		
		&:hover,
		&:active {
			background-color: rgba(#fff, .05);
			color:$colour-secondary;
			transform: translateY(-1rem);
		}
	}

	&__link {
		&:link,
		&:visited {
		display: flex;
		align-items: center;
		text-decoration: none;
		color:#fff;
		transition: all .4s;
			span {
				display: block;
			}
		}
	}

	&__svg {
		height: 2.5rem;
		width: 2.5rem;
		margin-right: .8rem;
		fill:rgba(#fff, .45);
	}
	
	
	// CLICK FUNCTION FOR MENU

	// on collapse - sidebar
	&__checkbox ~ .sidebar &__menu { // on collapse be above all elem
		z-index: 999;
		background-color: rgba(red, 0.5);
	}
	// on expand - sidebar
	&__checkbox:checked ~ .sidebar &__menu {
		opacity: 1;
		width: 30rem;
		box-shadow: 0 1rem 2rem rgba(0,0,0,.35);
	}
	
	// on collapse - sidebar__nav
	&__checkbox ~ .sidebar &__nav {
		transition: all .1s;
		visibility: hidden;
	}
	// on expand - sidebar__nav
	&__checkbox:checked ~ .sidebar &__nav {
		opacity: 1;
		transition: all .4s .2s;
		visibility: visible;
	}


	
	// MENU ICON
	&__icon {
		position: relative;
		margin-top: 3.5rem;
		&,
		&::before,
		&::after {
			width: 3.5rem;
			height: 2px;
			background-color: #fff;
			display: inline-block;
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			transition: all .2s;
		}
		&::before {top:-1.3rem;}
		&::after {top: 1.3rem;}
	}
	&__button:hover &__icon:before {top: -1rem;}
	&__button:hover &__icon:after {top: 1rem;}

	&__checkbox:checked + &__button &__icon { //when checked, select icon inside button
		background-color: transparent;
	}
	&__checkbox:checked + &__button &__icon:before {
		top:0;
		transform:rotate(135deg);
	}
	&__checkbox:checked + &__button &__icon:after {
		top:0;
		transform:rotate(-135deg);
	}

}




// .nav-btn {
// 	border: none;
// 	border-radius: 0;
// 	background-color: #fff;
// 	height: 2px;
// 	width: 4.5rem;
// 	margin-top: 4rem;
// 	cursor: pointer;
//     &:focus {
//      	outline: none;
//     }
// 	&::before,
// 	&::after {
// 		content:"";
// 		display: block;
// 		background-color: #fff;
// 		height: 2px;
// 		width: 4.5rem;
// 	}
	
// 	&::before {transform: translateY(-1.5rem);}
// 	&::after {transform: translateY(1.3rem);}
	
// }



